<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461830881488-apm6b4fmrbi0lnb4ti9bclglmdkr2fm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461830881488-apm6b4fmrbi0lnb4ti9bclglmdkr2fm5</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDiLfuBFsjWY7DUCtMCMBf-zjenNWYV0</string>
	<key>GCM_SENDER_ID</key>
	<string>461830881488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.grooup</string>
	<key>PROJECT_ID</key>
	<string>grooup-943c5</string>
	<key>STORAGE_BUCKET</key>
	<string>grooup-943c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461830881488:ios:2bccc662a0a6bedd171ed5</string>
</dict>
</plist>